This notebook is designed to understand and transform the 'vending_machine_sales.csv' dataset to setup for the sales dashboard. The dataset is sourced from Kaggle, provided by Aniruddh Singh, link: https://www.kaggle.com/datasets/awesomeasingh/vending-machine-sales. Further information of this dataset is provided in the linked source.
Author: Robin Jo

We will begin by importing relevant packages and the dataset.

In [1]:
# Import pandas package
import pandas as pd

In [2]:
# Read the dataset
df = pd.read_csv('vending_machine_sales.csv')

In [3]:
# Display the first few rows of the dataset
print(df.head())

# Get an overview of the dataset
print(df.info())

# Check for any missing values
print(df.isnull().sum())

      Status    Device ID           Location               Machine  \
0  Processed  VJ300320611  Brunswick Sq Mall  BSQ Mall x1366 - ATT
1  Processed  VJ300320611  Brunswick Sq Mall  BSQ Mall x1366 - ATT
2  Processed  VJ300320611  Brunswick Sq Mall  BSQ Mall x1366 - ATT
3  Processed  VJ300320611  Brunswick Sq Mall  BSQ Mall x1366 - ATT
4  Processed  VJ300320611  Brunswick Sq Mall  BSQ Mall x1366 - ATT

                                Product    Category  Transaction TransDate  \
0  Red Bull - Energy Drink - Sugar Free  Carbonated  14515778905  1/1/2022
1  Red Bull - Energy Drink - Sugar Free  Carbonated  14516018629  1/1/2022
2      Takis - Hot Chilli Pepper & Lime        Food  14516018629  1/1/2022
3      Takis - Hot Chilli Pepper & Lime        Food  14516020373  1/1/2022
4  Red Bull - Energy Drink - Sugar Free  Carbonated  14516021756  1/1/2022

     Type  RCoil  RPrice  RQty  MCoil  MPrice  MQty  LineTotal  TransTotal  \
0  Credit    148     3.5     1    148     3.5     1        3.5         3.5
1  Credit    148     3.5     1    148     3.5     1        3.5         5.0
2  Credit    123     1.5     1    123     1.5     1        1.5         5.0
3  Credit    123     1.5     1    123     1.5     1        1.5         1.5
4  Credit    148     3.5     1    148     3.5     1        3.5         3.5

  Prcd Date
0  1/1/2022
1  1/1/2022
2  1/1/2022
3  1/1/2022
4  1/1/2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9617 entries, 0 to 9616
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Status       9617 non-null   object
 1   Device ID    9617 non-null   object
 2   Location     9617 non-null   object
 3   Machine      9617 non-null   object
 4   Product      9611 non-null   object
 5   Category     9350 non-null   object
 6   Transaction  9617 non-null   int64
 7   TransDate    9617 non-null   object
 8   Type         9617 non-null   object
 9   RCoil        9617 non-null   int64
 10  RPrice       9617 non-null   float64
 11  RQty         9617 non-null   int64
 12  MCoil        9617 non-null   int64
 13  MPrice       9614 non-null   float64
 14  MQty         9617 non-null   int64
 15  LineTotal    9617 non-null   float64
 16  TransTotal   9617 non-null   float64
 17  Prcd Date    9617 non-null   object
dtypes: float64(4), int64(5), object(9)
memory usage: 1.3+ MB
None
Status           0
Device ID        0
Location         0
Machine          0
Product          6
Category       267
Transaction      0
TransDate        0
Type             0
RCoil            0
RPrice           0
RQty             0
MCoil            0
MPrice           3
MQty             0
LineTotal        0
TransTotal       0
Prcd Date        0
dtype: int64

We can see there are missing values in the 'Product', 'Category' and 'MPrice' columns. We will drop rows with missing values and duplicate values to simplify and cleanse our dataset.

In [4]:
# Drop missing values
df = df.dropna()

In [5]:
# Drop duplicate values
df = df.drop_duplicates()

In [6]:
# Inspect dataset shape after dropping rows
df.shape

(9350, 18)

To further cleanse our dataset, we will change the 'TransDate' format to 'yyyy/mm/dd' format with leading zeros for a more uniform date format.

In [7]:
df['TransDate'] = pd.to_datetime(df['TransDate'], format='%m/%d/%Y')
df['TransDate'] = df['TransDate'].dt.date
df['TransDate']

0       2022-01-01
1       2022-01-01
2       2022-01-01
3       2022-01-01
4       2022-01-01
           ...
9612    2022-12-30
9613    2022-12-31
9614    2022-12-31
9615    2022-12-31
9616    2022-12-31
Name: TransDate, Length: 9350, dtype: object

We now wish to simplify our dataset by dropping less useful or redundant columns. The 'Status' column is redundant as it shows the process status of the transaction, but we will only work with processed transactions. We will first check for any unprocessed transactions.

In [8]:
count = df['Status'].str.contains('Unprocessed', case=False).sum()
print(count)

0

All our transactions have been processed as desired. We will drop the 'Status' column alond with 'Device ID', 'Transaction', 'RCoil', 'MCoil', 'Mprice', 'MQty', 'LineTotal' and 'Prcd Date' columns as they will not be used.

In [9]:
df = df.drop(['Status', 'Device ID', 'Transaction', 'RCoil', 'MCoil', 'MPrice', 'MQty', 'LineTotal', 'Prcd Date'], axis=1)
df

,Location,Machine,Product,Category,TransDate,Type,RPrice,RQty,TransTotal
0,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,2022-01-01,Credit,3.5,1,3.5
1,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,2022-01-01,Credit,3.5,1,5.0
2,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,2022-01-01,Credit,1.5,1,5.0
3,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,2022-01-01,Credit,1.5,1,1.5
4,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,2022-01-01,Credit,3.5,1,3.5
...,...,...,...,...,...,...,...,...,...
9612,GuttenPlans,GuttenPlans x1367,Doritos Nacho Cheese,Food,2022-12-30,Cash,1.5,1,1.5
9613,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Poland Springs Water,Water,2022-12-31,Cash,1.5,1,1.5
9614,Brunswick Sq Mall,BSQ Mall x1364 - Zales,Robert Irvine's - Fit Crunch - Chocolate Pea,Food,2022-12-31,Cash,2.0,1,2.0
9615,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Poland Springs Water,Water,2022-12-31,Cash,1.5,1,1.5
9616,Brunswick Sq Mall,BSQ Mall x1364 - Zales,Coca Cola - Zero Sugar,Carbonated,2022-12-31,Cash,1.5,1,1.5

For the final data cleansing phase, we will rename column names for better understanding.

In [10]:
new_column_names = {
    'TransDate': 'Trans_Date',
    'TransTotal': 'Trans_Total',
    'Type': 'Payment_Type',
    'RPrice': 'Item_Price',
    'RQty': 'Quantity',
    # Add more mappings for other columns as needed
}

df.rename(columns=new_column_names, inplace=True)
df

,Location,Machine,Product,Category,Trans_Date,Payment_Type,Item_Price,Quantity,Trans_Total
0,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,2022-01-01,Credit,3.5,1,3.5
1,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,2022-01-01,Credit,3.5,1,5.0
2,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,2022-01-01,Credit,1.5,1,5.0
3,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,2022-01-01,Credit,1.5,1,1.5
4,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,2022-01-01,Credit,3.5,1,3.5
...,...,...,...,...,...,...,...,...,...
9612,GuttenPlans,GuttenPlans x1367,Doritos Nacho Cheese,Food,2022-12-30,Cash,1.5,1,1.5
9613,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Poland Springs Water,Water,2022-12-31,Cash,1.5,1,1.5
9614,Brunswick Sq Mall,BSQ Mall x1364 - Zales,Robert Irvine's - Fit Crunch - Chocolate Pea,Food,2022-12-31,Cash,2.0,1,2.0
9615,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Poland Springs Water,Water,2022-12-31,Cash,1.5,1,1.5
9616,Brunswick Sq Mall,BSQ Mall x1364 - Zales,Coca Cola - Zero Sugar,Carbonated,2022-12-31,Cash,1.5,1,1.5

Create and save a new file for this updated dataset which will be used vor data visualisation.

In [11]:
df.to_csv('transformed_vending_machine_sales.csv', index=False)